#wpbody-content .wposa .metabox-holder {
	padding-left: 0;
}
.toplevel_page_recrawler #screen-meta-links {
	position: relative;
	z-index: 10;
}
.wposa {
	position: relative;
	clear: both;
	z-index: 9;
	top: -30px;
}
.wposa .buttons-group {
	display: flex;
	gap: 10px;
}
.wposa .button {}
.wposa .button-danger {
	color: #d63638;
	border-color: #d63638;
}
.wposa-img {
	max-width: 600px;
	height: auto;
}
.wposa-header {
	display: grid;
	grid-template-columns: 80px 120px auto;
	grid-gap: 15px;
	align-items: center;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 14px 20px;
	position: relative;
	margin-left: -20px;
	border-top: 1px solid #c3c4c7;
	border-bottom: 1px solid #c3c4c7;
}
.wposa-header--left {

}
.wposa-header--center {

}
.wposa-header--right {
	color: #909090;
}
.wposa-header--right > p {
	max-width: 600px;
}
.wposa-logo {
	display: block;
}
.wposa-heading {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.3;
}
.wposa-version {
	font-size: 13px;
}

#wpbody-content .metabox-holder {
	padding-top: 5px;
}
.wpsa-image-preview img {
	height: auto;
	max-width: 70px;
}
.wposa-field--separator {
	background: #ccc;
	border: 0;
	color: #ccc;
	height: 1px;
	position: absolute;
	left: 0;
	width: 99%;
}
.wposa__group .form-table input.color-picker {
	max-width: 100px;
}
.wpsa-help-tab-toggle {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #2271b1;
	cursor: help;
	font-size: 12px;
	vertical-align: text-bottom;
	user-select: none;
}
.wposa__grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto 300px;
}
.wposa__column {}
.wposa__sidebar {
	padding-top: 66px;
}
.wposa .description {
	max-width: 350px;
}

input.wposa-field--switch {
	position: relative;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	width: 40px;
	height: 20px;
	background-color: #ffffff;
	border: 1px solid #D9DADC;
	border-radius: 50px;
	box-shadow: inset -20px 0 0 0 #ffffff;
}

input.wposa-field--switch:before {
	display: none !important;
}
input.wposa-field--switch:after {
	content: "";
	position: absolute;
	top: 0;
	left: 1px;
	width: 18px;
	height: 18px;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: 2px 0 6px rgba(0,0,0,0.2);
	transition-property: left;
	transition-duration: 3s;
}

input.wposa-field--switch:checked {
	border-color: #135e96;
	box-shadow: inset 20px 0 0 0 #135e96;
}

input.wposa-field--switch:checked:after {
	left: auto;
	right: 1px;
	box-shadow: -2px 0px 3px rgba(0,0,0,0.05);
}

input.wposa-field--switch:hover:after {
	/*box-shadow: 0 0 3px rgba(0,0,0,0.3);*/
}

.wposa-nav-tab {}
.wposa-nav-tab--disabled {
	cursor: not-allowed;
}
.wposa-badge {
	font-size: 0.8em;
	background-color: #d63638;
	color: #fff;
	border-radius: 2px;
	padding: 0 5px;
	display: inline-block;
	font-weight: normal;
}
.wposa-section-description {
	max-width: 600px;
}
.wposa-form-table__row_type_hidden {
	display: none;
}
.wposa-form-table__row_type_number .regular-text {
	width: 50px;
}
.wposa-form-table__row_recrawler_logs_enable label,
.wposa-form-table__row_recrawler_yandex_webmaster_enable label,
.wposa-form-table__row_recrawler_google_webmaster_enable label,
.wposa-form-table__row_recrawler_bing_webmaster_enable label,
.wposa-form-table__row_recrawler_index_now_enable label {
	color: #135e96 !important;
}

.wrap-column--form form {
	max-width: 600px;
}
.wpsa-card img {
	display: block;
	border: 0;
}
.wposa__table {
	border: 1px solid #c3c4c7;
	border-collapse: collapse;
}
.wposa__table th {
	text-align: left;
	vertical-align: top;
	line-height: 1.2em;
}
.wposa__table th,
.wposa__table td {
	padding: 7px;
}
.wposa-card--recrawler_wpshop {
	padding: 0;
	border: 0;
}
.wposa__table tr:nth-child(even) {
	background-color: #f0f0f1;
}
.wposa__table tr:nth-child(odd) {
	background-color: #fff;
}

.wposa-card--recrawler_rtfm {
	position: sticky;
	top: 50px;
}

.wposa-form-table__row_recrawler_plugins_plugins th {
	display: none;
}
.wposa-form-table__row_recrawler_plugins_plugins td {
	padding: 0;
}
.wposa-plugins {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}
.wposa-plugins a {
	text-decoration: none;
}
.wposa-plugins__item {
	border: 1px solid #c3c4c7;
	background: #fff;
}
.wposa-plugin {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.wposa-plugin__content {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 100px auto;
	padding: 20px;
}
.wposa-plugin__icon {}
.wposa-plugin__data {}
.wposa-plugin__name {
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 1.2em;
}
.wposa-plugin__description {
	font-size: 0.9em;
}
.wposa-plugin__footer {
	background: #f6f7f7;
	padding: 20px 20px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
}
.wposa-plugin__install {
	align-self: end;
	text-align: right;
}
.wposa-plugin__meta {
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}
.wposa-plugin__meta > li {
	padding: 0;
	margin-bottom: 2px;
}
@media (max-width : 1480px) {
	.wposa-plugins {
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 782px) {
	.wposa__grid {
		grid-template-columns: 1fr;
	}
	.wposa__column {
		padding-right: 10px;
	}
	.wposa__sidebar {
		padding-top: 0;
	}
}
@media (max-width : 992px) {
	.wposa-plugins {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 544px) {
	.toplevel_page_recrawler #wpcontent {
		/*padding-left: 0;*/
	}
	.wposa {
		top: -60px;
	}
	.wposa-header--right {
		display: none
	}
	.form-table th {
		padding: 10px 0;
	}
	.wposa-plugins {
		grid-template-columns: 1fr;
	}
}
.wposa__helptab {
	max-width: 600px;
}
.wposa code {
	white-space: nowrap;
}
.wposa-overflow {
	overflow-x: auto;
	max-width: 300px;
}
.wposa-footer {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	padding-top: 50px;
}
.wposa-footer__column {}
.wposa-footer__column--left {}
.wposa-footer__column--right {
	text-align: right;
}

/**
 * Log table
 */
table.logs .column-log_id{ width:3em; }
table.logs .column-level{ width:4em; }
table.logs .column-direction{ width:4em; }
table.logs .column-search_engine{ width:8.5em; }
table.logs .column-status_code{ width:6em; }
table.logs .column-created_at{ width:10em; }
table.logs span.level {
	border-radius: 50%;
	width: 6px;
	height: 6px;
	color: transparent;
	display: inline-block;
	vertical-align: middle;
}
table.logs span.level--error {
	background-color: #f00;
}
table.logs span.level--info,
table.logs span.level--debug {
	background-color: #0f0;
}

/**
 * Post columns
 */
.column-recrawler {
	width: 8em;
}
.column-recrawler img {
	vertical-align: bottom;
}
